#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,0,0,1        
PRODUCTVERSION  0,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS  VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "libquic\0"
            VALUE "CompanyName","on-keyday\0"
            VALUE "FileDescription", "QUIC library\0"
            VALUE "FileVersion",  "1, 2, 3, 4\0"
            VALUE "InternalName", "\0"
            VALUE "LegalCopyright","on-keyday(https://github.com/on-keyday)\0" 
            VALUE "OriginalFilename", "libquic.dll\0"
            VALUE "ProductName", "libquic"
            VALUE "ProductVersion",  "0, 0, 0, 1\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation",0x0409, 0
    END
END
